<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Book-app</title>

        <!-- favicon -->
        <link rel="shortcut icon" href="https://www.freeiconspng.com/uploads/book-icon--icon-search-engine-6.png"
            type="image/x-icon">

        <!-- style -->
        <link rel="stylesheet" href="styles/reset.css">
        <link rel="stylesheet" href="styles/base.css">
        <link rel="stylesheet" href="styles/modules.css">
        <link rel="stylesheet" href="styles/layout.css">

    </head>

    <body>
        <h1>Hello World</h1>

    </body>

</html>
