<footer>
    <ul>
        <li><a href="https://maktoob.yahoo.com/?p=us"><i class="far fa-envelope"></i></a></li>
        <li><a href="https://twitter.com/"><i class="fab fa-twitter"></i></a></li>
        <li><a href="https://github.com/mohammed-khamees"><i class="fab fa-github"></i></a></li>
        <li><a href="https://www.linkedin.com/in/mohammed-khamees-011b78202/"><i class="fab fa-linkedin-in"></i></a>
        </li>
    </ul>
</footer>
